<% if @active_organization %>
  <div id="active-organization">
    <div id="active-organization-inner">
      <span id="organization-ident">
        <%= profile_image @active_organization, :portrait, :class => 'profile-image' %>
        <h2><%= @active_organization.name %></h2>
      </span>

      <span id="organization-menu">
        <%= link_to _('profile'), @active_organization.url, :class => 'organization-button' %>
        <%= link_to _('members'), {:controller => :profile, :action => :members, :profile => @active_organization.identifier}, :class => 'organization-button' %>
        <%= link_to _('exchanges'), {:controller => :exchange_plugin_myprofile, :action => :index, :profile => @active_organization.identifier}, :class => 'organization-button'  %>
        <%= link_to _('network'), '', :class => 'organization-button' %>
        <%= link_to _('products'), {:controller => :catalog, :profile => @active_organization.identifier}, :class => 'organization-button' %>
        <%= link_to _('knowledges'), '', :class => 'organization-button' %>
        <%= link_to _('currencies'), '', :class => 'organization-button' %>
        <%= link_to _('sniffer'), '', :class => 'organization-button' %>
      </span>

      <div class="clean"></div>
    </div>
  </div>

<% end %>
