<%= javascript_include_tag '/designs/themes/escambo/javascripts/escambo.js' %>
<%= javascript_include_tag '/designs/themes/escambo/javascripts/jquery.cookie.js' %>

<% content_for :active_organization do %>
  <%= render :file => 'profile_line', :locals => {:profile => @active_organization, :active_organization => true} %>
<% end %>

<% content_for :profile_line do %>
  <% if profile %>
    <%= render :file => 'profile_line', :locals => {:profile => profile, :active_organization => false} %>
  <% end %>
<% end %>

<div id="theme-header-wrap" class="<%= user ? 'logged' : 'not-logged' %>">
  <div id="logo"></div>

  <div id='header-links'>
    <%= link_to _('home'), '/' %>
    <%= link_to _('culture points'), :controller => :search, :action => :enterprises %>
    <%= link_to _('offers, knowledges and interests'), :controller => :search, :action => :index %>
    <%= link_to _('how it works'), :controller => :home, :action => :how_it_works %>
  </div>

  <div id="user">
    <span class='logged-in' style='display: none;'>
      <% if user %>
        <span class="user-logged-left">
          <a href="<%= url_for :controller => :profile_editor, :profile => user.identifier, :action => :edit %>">
            <%= profile_image user, :portrait, :class => 'profile-image' %>
          </a>
        </span>

        <span class="user-logged-right">
          <div>
            <%= link_to user.name, :controller => :profile_editor, :profile => user.identifier, :action => :edit %>

            <% task_count = Task.to(user).pending.count %>
            <%= link_to task_count.to_s, {:controller => :tasks, :profile => user.identifier}, :id => 'pending-tasks-count', :title => _("Manage your pending tasks") %>
          </div>
          <div>
            <%= select_tag "enterprise[selected]",
              options_for_select(user.memberships.collect{ |p| [ p.name, p.id ] } + [[_('New enterprise'), 'new']], cookies[:active_organization]),
              :id => 'select-organization',
              :onclick => "escambo_theme.user.select('#{url_for :controller => :escambo_plugin_myprofile, :profile => user.identifier, :action => :select_active_organization}', '#{url_for :controller => :escambo_plugin_myprofile, :profile => user.identifier, :action => :new_enterprise}')" %>
          </div>
          <div>
            <%= link_to _('Log out'), :controller => :account, :action => :logout %>
          </div>
        </span>
      <% end %>
    </span>

    <span class='not-logged-in' style='display: none'>
      <%= link_to _('sign up'), :controller => 'account', :action => 'signup' %>
      <%= thickbox_inline_popup_link _('login'), login_url, 'inlineLoginBox', :id => 'link_login' %>
    </span>

    <div id='inlineLoginBox' style='display: none;'>
      <%= render :file => 'account/login', :locals => { :is_thickbox => true } %>
    </div>

    <div class="clean"></div>
  </div>
  <div class="clean"></div>
</div>
