<% if profile %>

  <div class="profile-line <%= active_organization ? 'active_organization' : 'profile-header' %>">
    <div class="profile-line-inner">
      <%= profile_image profile, :portrait, :class => 'profile-image' %>
      <span class="profile-name"><%= profile.name %></span>

      <% if active_organization %>
        <span id="organization-menu">
          <%= link_to _('profile'), profile.url, :class => 'organization-button' %>
          <%= link_to _('members'), {:controller => :profile, :action => :members, :profile => profile.identifier}, :class => 'organization-button' %>
          <%= link_to _('exchanges'), {:controller => :exchange_plugin_myprofile, :action => :index, :profile => profile.identifier}, :class => 'organization-button'  %>
          <%= link_to _('network'), '', :class => 'organization-button' %>
          <%= link_to _('products'), {:controller => :catalog, :profile => profile.identifier}, :class => 'organization-button' %>
          <%= link_to _('knowledges'), '', :class => 'organization-button' %>
          <%= link_to _('currencies'), '', :class => 'organization-button' %>
          <%= link_to _('sniffer'), '', :class => 'organization-button' %>
        </span>
      <% end %>

      <div class="clean"></div>
    </div>
  </div>

<% end %>
